<%- include('header.ejs') %>                  
                    
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                        <div >
                                <div>
                                    <!-- START TABLE BLOCK -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title-box">
                                                <h3>Démographie</h3>
                                            </div>                                     
                                        </div>
                                        <div class="panel-body">                              
                                            <div id="table-container" class="row stacked">
                                                    <div class="demography">
                                                            <img src="img/rdc.png" width="700px" style="float:right;margin-left:10px;">
                                                            
                                                                <h4>Présentation du Pays </h4>

                                                                <p>
                                                                    La République Démocratique du Congo(RDC) est le deuxième plus vaste pays d'Afrique après l'Algérie. 
                                                                    Il s'étend de l'océan Atlantique au plateau de l'Est et correspond à la majeure partie du bassin du fleuve Congo. 
                                                                    Le Nord du pays est un des plus grands domaines de forêt équatoriale au monde, l’Est du pays borde le grand rift 
                                                                    est-africain, domaine des montagnes, des collines, des Grands Lacs mais aussi des volcans. Le Sud et le centre, 
                                                                    domaine des savanes arborées, forment un haut plateau riche en minerais. À l’extrême ouest, une quarantaine de 
                                                                    kilomètres au nord de l'embouchure du fleuve Congo s’étale une côte sur l’océan Atlantique. Le pays partage ses 
                                                                    frontières avec l’enclave de Cabinda (Angola) et la république du Congo à l’ouest, la République centrafricaine 
                                                                    et le Soudan du Sud au nord, l’Ouganda, le Rwanda, le Burundi et la Tanzanie à l’est, la Zambie et l’Angola au sud5. 
                                                                    La RDC est membre de l’Organisation internationale de la francophonie depuis 1977. <br>
                                                                    L'article 2 de la constitution de 2005 de la république démocratique du Congo spécifie un découpage du pays en 26 
                                                                    provinces, comprenant la ville-province de Kinshasa. Votée en février 2006, cette nouvelle organisation territoriale 
                                                                    devait prendre effet dans les trois ans qui suivaient l’installation effective des institutions politiques prévues par 
                                                                    la Constitution (article 226), c'est-à-dire en février 2009.
                                                                </p>
                                                                <h4>Informations clés </h4>
                                                                <ul>
                                                                    <li>Superficie: </li>
                                                                    <li>Population: </li>
                                                                    <li>Prévalence VIH: </li>
                                                                </ul> 
                                                                <br>
                                                                <h4>Projet IHAP HK/L</h4>
                                                                <p>
                                                                    Le projet Integrated HIV/AIDS Program (IHAP) de <b>PEPFAR /USAID</b> est mis en œuvre par un consortium dirigé par <b>PATH</b>, 
                                                                    avec <b>IntraHealth international</b> comme membre. Le projet soutien le Gouvernement Congolais dans la lutte contre le 
                                                                    VIH/SIDA et la réalisation de la vision 95-95-95 du Programme commun des Nations Unies. Ce programme vise à assurer 
                                                                    un contrôle durable de l’épidémie à l’horizon 2020, et de l’objectif mondial de génération sans SIDA d’ici 2030. 
                                                                    Cet appui s’étend sur <b>159</b> structures sanitaires ou sites VIH, réparties dans <b>18</b> zones sanitaires (ZS) des provinces 
                                                                    du <b>Haut Katanga</b> et de <b>Lualaba</b>. Le projet IHAP renforce les capacités des services VIH/SIDA afin d’assurer le continuum 
                                                                    des soins de qualité au niveau des structures sanitaires et communautaires. Les équipes cadres des zones sanitaires (ECZS) 
                                                                    sont assistées pour une coordination efficace de la lutte contre le VIH/SIDA. Ces sites VIH prennent en charge une file 
                                                                    active de <b>30 964</b> patients (données de Septembre 2018), ce qui génère un nombre important de données à collecter, traiter 
                                                                    et analyser pour des prises de décisions efficaces.
                                                                </p>
                                                                <% districts.forEach(function(dist){ %>
                                                                    <% if(!dist.name.includes('Community')){ %>
                                                                    <h5><%= dist.name %></h5>
                                                                    <ul>
                                                                        <li>Superficie: <b><%= dist.superficie %></b></li>
                                                                        <li>Population: <b><%= dist.population %></b></li>
                                                                        <li>Prévalence:  <b><%= dist.dist %></b></li>
                                                                    </ul>
                                                                    <% } %>
                                                                <% }) %>
                                                               
                                                    </div>   
                                            </div>
                                            <div class="district-select">
                                                    <div id="dist_list">
                                                        <a href="/map">Voir la carte dynamique</a>
                                                    </div>        
                                            </div>                                   
                                        </div>
                                    </div>
                                    <!-- END TABLE BLOCK -->
                                    
                                </div>
                            </div>                   
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
        
        <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>        
        
        <script type="text/javascript" src="js/plugins.js"></script>        
        <script type="text/javascript" src="js/actions.js"></script>

        <script type="text/javascript" src="js/plugins/datatables/jquery.dataTables.js"></script> 

        <script type='text/javascript' src='maps/hk.js'></script>
        <script type='text/javascript' src='maps/llb.js'></script>
        <script type='text/javascript' src='maps/drc.js'></script>
        <script type='text/javascript' src='maps/script.js'></script>
        <script type='text/javascript' src='maps/editValues.js'></script>      
    </body>
</html>





